  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
  @import 'variables';
  
  $font-size-base: 0.8rem !default;

  body { 
    font-family: 'Source Sans Pro', sans-serif;
  }

  #wrapper {
    //background-image: radial-gradient(52% 131%, #00B5A7 48%, #007A9F 100%);
    background: url(../assets/background-alt.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  #logo {
    height: auto;
    width: 200px;
    /*box-shadow: 10px 10px 5px -10px rgba(17,82,77,1);*/
  }
  
  .white-bg {
    background: #fff;
  }
  
  .full-height {
    height: 86vh;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 12px;
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .toolbar {
    background: #092D39;
    color: #F3F4C9;
  }
  
  #unified-controls {
    border-radius: 5px;
    background: rgba(9,46,58,0.58);
    .btn.btn-dark.active {
      color: #00B5A6;
    }
  }
  
  .status-msg {
    color: #fff;
    font-size: 10px;
    margin: 0px 0px 0px 5px;
  }
  
  .no-linewrap {
    white-space: nowrap;
    overflow: hidden;
  }
  
  .icon-warning {
    color: #ffa94d;
  }